    


.form-container {

  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  border-radius:3rem;
  box-shadow: 5px 5px 25px;

}
   
option{
 
  background-color: black;
  color: white;

}

.form-container div {
  margin-bottom: 1rem;

}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.70rem;
}

.form-container input[type="radio"],
.form-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-container button {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: darkgreen;
}
